<label class="{% if invalid %}o-input--has-errors{% endif %}{% if hideLabel %} o-input--hidden-label{% endif %}"> {{ label }}
  <select{% if invalid %} invalid{% endif %}{% if disabled %} disabled{% endif %}{% if readonly %} readonly{% endif %}{% if autofocus %} autofocus{% endif %}>
    {% for option in options %}
    <option>{{ option.label }}</option>
    {% endfor %}
  </select>
  {% if invalid %}
    {% render "@message", message %}
  {% endif %}
</label>
