<label class="{% if invalid %}o-input--has-errors{% endif %}{% if hideLabel %} o-input--hidden-label{% endif %}"> {{ label }}
  <textarea {% if invalid %} invalid{% endif %}{% if disabled %} disabled{% endif %}{% if readonly %} readonly{% endif %}{% if autofocus %} autofocus{% endif %}></textarea>
  {% if invalid %}
    {% render "@message", message %}
  {% endif %}
</label>
