<label class="{% if invalid %}o-input--has-errors{% endif %}{% if hideLabel %} o-input--hidden-label{% endif %}"><span{% if hideLabel %} class="o-input--hide-label"{% endif %}>{{ label }}</span>
  <input {% if icon %}data-icon="{{ icon }}" {% endif %}type="text"{% if placeholder %} placeholder="{{ placeholder}}"{% endif %}{% if invalid %} invalid{% endif %}{% if disabled %} disabled{% endif %}{% if readonly %} readonly{% endif %}{% if autofocus %} autofocus{% endif %} {% if value %}value="{{ value }}"{% endif %}>
  {%- if invalid -%}
    {% render "@message", message %}
  {%- endif -%}
</label>
