<button class="c-btn{% if type %}--{{ type }}{% endif %}{% if size %} c-btn--{{ size }}{% endif %}"{% if disabled %}disabled{% endif %}>{% if icon %}{% render "@" + icon %} {% endif %}{{ label }}</button>
