<div class="c-flash{%- if type == "error" -%}--error{%- else -%}--success{%- endif -%}">
  <div class="c-flash__icon">
    {%- if type == "error" -%}
      {% render "@icon--error" %}
    {%- else -%}
      {% render "@icon--checkmark" %}
    {%- endif -%}
  </div>
  <div class="c-flash__message">
    {{ message }}
  </div>
  {%- if collapsable -%}
  <div class="c-flash__close">
    {% render "@icon--close" %}
  </div>
  {%- endif -%}
</div>
